body {
    font-family:'Courier New', Courier, monospace;
    background-color: RGB(212, 231, 228);
}

h1 {
    text-align: center;
    color: black;
    font-size: 40px;

}

h2 {
  
    color: black;
    font-size: 20px;

}

.mainBox {

    background-color: RGB(213, 212, 231);
    margin: 20px;
    vertical-align: top;
    
   
}

.one {

    text-align: center;
    vertical-align: top;

}

.three {
    text-align:end;
    vertical-align: top;
}
