body {
    font-family:'Courier New', Courier, monospace;
    background-color: RGB(212, 231, 228);
}

h1 {
    text-align: center;
    color: black;
    font-size: 40px;

}

h2 {
  
    color: black;
    font-size: 20px;

}

.farLeft {
 

    display: flex;
    justify-content: center;
    width: 350px;
    background-color: RGB(213, 212, 231);
    margin-left: 20px;
 
  

}

.mid {
   
    width: 350px;
    display: flex;
    justify-content: center;
    background-color: RGB(231, 212, 226);
    position: absolute;
  
    margin-left: 390px;
  

    
    

}

.farRight {
    
    display: flex;
    justify-content: center;
    width: 350px;
    background-color: RGB(212, 231, 214);

    margin-left: 760px;
   

    

}